# 공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황

In [1]:
from common import commonFunc as cf
import pandas as pd
pd.set_option('display.max_columns', None)
metadata = pd.read_excel("../input/datalake_meta22.xlsx")

SITENAME = "건설사업정보시스템"
DATANAME= "공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황"
APIKEY = "1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF"

targetData = metadata.loc[metadata.자료명==DATANAME]
preSetFolder = targetData["저장폴더"].values[0]

preSetFolder

'../output/건설사업정보시스템/공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황/selectIoLcBzByAreAndRwList.csv'

In [2]:
targetData = metadata.loc[metadata.자료명==DATANAME]

##### 파라미터 설정 #####
URL = targetData["URL"].values[0]
SERVICENAME = targetData["서비스키"].values[0]
SERVICENAME = SERVICENAME.split(".")[0]
REQPARAM = targetData["요청변수"].values[0]
REQPARAM = REQPARAM.split(",")
PRIMARYKEY = targetData["기본키"].values[0]

In [3]:
JSONKEY = "items"
DUMMY = 0

In [4]:
#### 페이지번호 설정 ###
PAGEYN=1
if REQPARAM.count("pageyn") == 0:
    PAGEYN = 0
else:
    PAGEYN = 1

In [5]:
resultDfMerged = pd.DataFrame()

In [6]:
import datetime

currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
endYr = date.strftime("%Y")
endYr

'2022'

In [7]:
# 기준년도 산정
# 2007년 부터 데이터 존재하나, 1990년부터 수행
startYr = "1990"
dateRange = list(map(int,pd.period_range(startYr,endYr,freq='Y').strftime('%Y').tolist()))
# dateRange

In [8]:
resultDf = pd.DataFrame()
for i  in dateRange:
    print(i)
    BASEPARAM={"serviceKey":APIKEY,"searchSrYr1": str(i), "searchSrYr2": str(i-1), "searchSrYr3": str(i-2),"type":"json"}
    resultDf = cf.scrapy(URL,SITENAME,DATANAME,SERVICENAME,BASEPARAM,PAGEYN, JSONKEY, DUMMY)
    if resultDf.empty: # 정상 데이터가 없는 경우
            print("No Data")
    else:
        resultDfMerged = resultDfMerged.append(resultDf)

1990
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1990', 'searchSrYr2': '1989', 'searchSrYr3': '1988', 'type': 'json'} rows: 0 completed
No Data
1991
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1991', 'searchSrYr2': '1990', 'searchSrYr3': '1989', 'type': 'json'} rows: 0 completed
No Data
1992
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1992', 'searchSrYr2': '1991', 'searchSrYr3': '1990', 'type': 'json'} rows: 0 completed
No Data
1993
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1993', 'searchSrYr2': '1992', 'searchSrYr3': '1991', 'type': 'json'} rows: 0 completed
No Data
1994
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1994', 'searchSrYr2': '1993', 'searchSrYr3': '1992', 'type': 'json'} rows: 0 completed
No Data
1995
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1995', 'searchSrYr2': '1994', 'searchSrYr3': '1993', 'type': 'json'} rows: 0 completed
No Data
1996
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1996', 'searchSrYr2': '1995', 'searchSrYr3': '1994', 'type': 'json'} rows: 0 completed
No Data
1997
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1997', 'searchSrYr2': '1996', 'searchSrYr3': '1995', 'type': 'json'} rows: 0 completed
No Data
1998
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1998', 'searchSrYr2': '1997', 'searchSrYr3': '1996', 'type': 'json'} rows: 0 completed
No Data
1999
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1999', 'searchSrYr2': '1998', 'searchSrYr3': '1997', 'type': 'json'} rows: 0 completed
No Data
2000
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2000', 'searchSrYr2': '1999', 'searchSrYr3': '1998', 'type': 'json'} rows: 0 completed
No Data
2001
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2001', 'searchSrYr2': '2000', 'searchSrYr3': '1999', 'type': 'json'} rows: 0 completed
No Data
2002
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2002', 'searchSrYr2': '2001', 'searchSrYr3': '2000', 'type': 'json'} rows: 0 completed
No Data
2003
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2003', 'searchSrYr2': '2002', 'searchSrYr3': '2001', 'type': 'json'} rows: 0 completed
No Data
2004
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2004', 'searchSrYr2': '2003', 'searchSrYr3': '2002', 'type': 'json'} rows: 0 completed
No Data
2005
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2005', 'searchSrYr2': '2004', 'searchSrYr3': '2003', 'type': 'json'} rows: 0 completed
No Data
2006
1 page scraping start
Empty DataFrame
Columns: []
Index: []
1 page is empty
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2006', 'searchSrYr2': '2005', 'searchSrYr3': '2004', 'type': 'json'} rows: 0 completed
No Data
2007
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2007', 'searchSrYr2': '2006', 'searchSrYr3': '2005', 'type': 'json'} rows: 26 completed
2008
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2008', 'searchSrYr2': '2007', 'searchSrYr3': '2006', 'type': 'json'} rows: 26 completed
2009
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2009', 'searchSrYr2': '2008', 'searchSrYr3': '2007', 'type': 'json'} rows: 26 completed
2010
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2010', 'searchSrYr2': '2009', 'searchSrYr3': '2008', 'type': 'json'} rows: 26 completed
2011
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2011', 'searchSrYr2': '2010', 'searchSrYr3': '2009', 'type': 'json'} rows: 26 completed
2012
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2012', 'searchSrYr2': '2011', 'searchSrYr3': '2010', 'type': 'json'} rows: 26 completed
2013
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2013', 'searchSrYr2': '2012', 'searchSrYr3': '2011', 'type': 'json'} rows: 26 completed
2014
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2014', 'searchSrYr2': '2013', 'searchSrYr3': '2012', 'type': 'json'} rows: 26 completed
2015
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2015', 'searchSrYr2': '2014', 'searchSrYr3': '2013', 'type': 'json'} rows: 26 completed
2016
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2016', 'searchSrYr2': '2015', 'searchSrYr3': '2014', 'type': 'json'} rows: 26 completed
2017
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2017', 'searchSrYr2': '2016', 'searchSrYr3': '2015', 'type': 'json'} rows: 26 completed
2018
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2018', 'searchSrYr2': '2017', 'searchSrYr3': '2016', 'type': 'json'} rows: 26 completed
2019
1 page scraping start

Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2019', 'searchSrYr2': '2018', 'searchSrYr3': '2017', 'type': 'json'} rows: 26 completed
2020
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2020', 'searchSrYr2': '2019', 'searchSrYr3': '2018', 'type': 'json'} rows: 26 completed
2021
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2021', 'searchSrYr2': '2020', 'searchSrYr3': '2019', 'type': 'json'} rows: 26 completed
2022
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황, param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2022', 'searchSrYr2': '2021', 'searchSrYr3': '2020', 'type': 'json'} rows: 26 completed

In [9]:
resultDfMerged

,cmndtlcdnm,bzkdcd,tojiamt1,tojiamt2,tojiamt3,tojiarea1,tojiarea2,tojiarea3,etcamt1,etcamt2,etcamt3,amtvariation,areavariation,etcvariation,tojiamt1rate,tojiamt2rate,tojiamt3rate,tojiarea1rate,tojiarea2rate,tojiarea3rate,etcamt1rate,etcamt2rate,etcamt3rate,amtvariationrate,areavariationrate,etcvariationrate
0,도로,001,3388051896571,0,0,49022017.04,0.0,0.00,632012322503,0,0,3388051896571,49022017.04,632012322503,15.15,0.00,0.00,30.67,0.00,0.00,22.53,0.00,0.00,3.388052e+14,4.902202e+09,6.320123e+13
1,택지,002,10478679092556,0,0,38827399.84,0.0,0.00,1072024050560,0,0,10478679092556,38827399.84,1072024050560,46.84,0.00,0.00,24.29,0.00,0.00,38.21,0.00,0.00,1.047868e+15,3.882740e+09,1.072024e+14
2,교육학예,003,727161586426,0,0,1268890.00,0.0,0.00,9717155350,0,0,727161586426,1268890.00,9717155350,3.25,0.00,0.00,0.79,0.00,0.00,0.35,0.00,0.00,7.271616e+13,1.268890e+08,9.717155e+11
3,주택,004,456796498769,0,0,1341398.00,0.0,0.00,157877133834,0,0,456796498769,1341398.00,157877133834,2.04,0.00,0.00,0.84,0.00,0.00,5.63,0.00,0.00,4.567965e+13,1.341398e+08,1.578771e+13
4,하천,005,296485984382,0,0,7409760.00,0.0,0.00,67343605460,0,0,296485984382,7409760.00,67343605460,1.33,0.00,0.00,4.64,0.00,0.00,2.40,0.00,0.00,2.964860e+13,7.409760e+08,6.734361e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,교량,027,0,146901040,1206370530,0.00,3344.0,19698.00,0,3705000,189641600,-146901040,-3344.00,-3705000,0.00,0.00,0.01,0.00,0.01,0.03,0.00,0.00,0.01,-1.000000e+02,-1.000000e+02,-1.000000e+02
26,보건시설,028,0,0,5082588450,0.00,0.0,27041.00,0,0,3285909810,0,0.00,0,0.00,0.00,0.04,0.00,0.00,0.04,0.00,0.00,0.20,0.000000e+00,0.000000e+00,0.000000e+00
27,묘지,029,0,0,3955648050,0.00,0.0,338468.00,0,0,18312200,0,0.00,0,0.00,0.00,0.03,0.00,0.00,0.47,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00
28,배수시설,030,0,21064046900,23563160800,0.00,591114.0,767858.00,0,5124167040,3107001520,-21064046900,-591114.00,-5124167040,0.00,0.18,0.17,0.00,1.54,1.08,0.00,0.52,0.19,-1.000000e+02,-1.000000e+02,-1.000000e+02
29,기타,032,0,120281800530,330720187217,0.00,885578.0,2122808.62,0,27225010994,111664187896,-120281800530,-885578.00,-27225010994,0.00,1.04,2.39,0.00,2.30,2.98,0.00,2.77,6.91,-1.000000e+02,-1.000000e+02,-1.000000e+02

In [10]:
cf.savedata(resultDfMerged, SITENAME,DATANAME,SERVICENAME)

공공용지 취득실적-사업별 면적 및 보상액 기준 실적 현황 save compled

In [11]:
resultDfMerged.shape

(499, 26)