# 공공용지 취득실적(채권보상실적)

In [3]:
from common import commonFunc as cf
import pandas as pd
pd.set_option('display.max_columns', None)
metadata = pd.read_excel("../input/datalake_meta22.xlsx")

SITENAME = "건설사업정보시스템"
DATANAME= "공공용지 취득실적(채권보상실적)"
APIKEY = "1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF"

targetData = metadata.loc[metadata.자료명==DATANAME]
targetData

,순서,자료대상,종류,자료명,데이터 종류,작업자명,망 확인필요,수집방법,컬럼명,기본키,요청변수,저장폴더,전처리 항목,업데이트주기,서비스키명,URL,서비스키,파라미터,제공방식,데이터타입,참고문서,참고문서타입,주기,비고
28,29,건설사업정보시스템 - 보상,INBOUND,공공용지 취득실적(채권보상실적),WEB,박동주,외부망,openAPI 연계,"채권보상실적 현황 : bondAmt, bond2, rate2, bond3, rate...","serviceKey,searchSrYr1,searchSrYr2,searchSrYr3","serviceKey,searchSrYr1,searchSrYr2,searchSrYr3...",../output/건설사업정보시스템/공공용지 취득실적(채권보상실적)/selectIo...,-,-,-,https://www.calspia.go.kr/io/openapi/lc/select...,selectIoLcBndStsList.do,serviceKey=&searchSrYr1=&searchSrYr2=&searchSr...,api,json,건설사업정보시스템-보상,Excel,-,NaN

In [4]:
preSetFolder = targetData["저장폴더"].values[0]

preSetFolder

'../output/건설사업정보시스템/공공용지 취득실적(채권보상실적)/selectIoLcBndStsList.csv'

In [5]:
targetData = metadata.loc[metadata.자료명==DATANAME]

##### 파라미터 설정 #####
URL = targetData["URL"].values[0]
SERVICENAME = targetData["서비스키"].values[0]
SERVICENAME = SERVICENAME.split(".")[0]
REQPARAM = targetData["요청변수"].values[0]
REQPARAM = REQPARAM.split(",")
PRIMARYKEY = targetData["기본키"].values[0]

In [6]:
JSONKEY = "detail1"
DUMMY = 0

In [7]:
#### 페이지번호 설정 ###
PAGEYN=1
if REQPARAM.count("pageyn") == 0:
    PAGEYN = 0
else:
    PAGEYN = 1

In [8]:
resultDfMerged = pd.DataFrame()

In [9]:
import datetime

currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
endYr = date.strftime("%Y")
endYr

'2022'

In [10]:
# 기준년도 산정
# 2007년 부터 데이터 존재하나, 1990년부터 수행
startYr = "1990"
dateRange = list(map(int,pd.period_range(startYr,endYr,freq='Y').strftime('%Y').tolist()))
# dateRange

In [11]:
resultDf = pd.DataFrame()
for i  in dateRange:
    print(i)
    BASEPARAM={"serviceKey":APIKEY,"searchSrYr1": str(i), "searchSrYr2": str(i-1), "searchSrYr3": str(i-2),"type":"json"}
    resultDf = cf.scrapy(URL,SITENAME,DATANAME,SERVICENAME,BASEPARAM,PAGEYN, JSONKEY, DUMMY)
    if resultDf.empty: # 정상 데이터가 없는 경우
            print("No Data")
    else:
        resultDfMerged = resultDfMerged.append(resultDf)

1990
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1990', 'searchSrYr2': '1989', 'searchSrYr3': '1988', 'type': 'json'} rows: 16 completed
1991
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1991', 'searchSrYr2': '1990', 'searchSrYr3': '1989', 'type': 'json'} rows: 16 completed
1992
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1992', 'searchSrYr2': '1991', 'searchSrYr3': '1990', 'type': 'json'} rows: 16 completed
1993
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1993', 'searchSrYr2': '1992', 'searchSrYr3': '1991', 'type': 'json'} rows: 16 completed
1994
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1994', 'searchSrYr2': '1993', 'searchSrYr3': '1992', 'type': 'json'} rows: 16 completed
1995
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1995', 'searchSrYr2': '1994', 'searchSrYr3': '1993', 'type': 'json'} rows: 16 completed
1996
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1996', 'searchSrYr2': '1995', 'searchSrYr3': '1994', 'type': 'json'} rows: 16 completed
1997
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1997', 'searchSrYr2': '1996', 'searchSrYr3': '1995', 'type': 'json'} rows: 16 completed
1998
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1998', 'searchSrYr2': '1997', 'searchSrYr3': '1996', 'type': 'json'} rows: 16 completed
1999
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '1999', 'searchSrYr2': '1998', 'searchSrYr3': '1997', 'type': 'json'} rows: 16 completed
2000
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2000', 'searchSrYr2': '1999', 'searchSrYr3': '1998', 'type': 'json'} rows: 16 completed
2001
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2001', 'searchSrYr2': '2000', 'searchSrYr3': '1999', 'type': 'json'} rows: 16 completed
2002
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2002', 'searchSrYr2': '2001', 'searchSrYr3': '2000', 'type': 'json'} rows: 16 completed
2003
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2003', 'searchSrYr2': '2002', 'searchSrYr3': '2001', 'type': 'json'} rows: 16 completed
2004
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2004', 'searchSrYr2': '2003', 'searchSrYr3': '2002', 'type': 'json'} rows: 16 completed
2005
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2005', 'searchSrYr2': '2004', 'searchSrYr3': '2003', 'type': 'json'} rows: 16 completed
2006
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2006', 'searchSrYr2': '2005', 'searchSrYr3': '2004', 'type': 'json'} rows: 16 completed
2007
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2007', 'searchSrYr2': '2006', 'searchSrYr3': '2005', 'type': 'json'} rows: 16 completed
2008
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2008', 'searchSrYr2': '2007', 'searchSrYr3': '2006', 'type': 'json'} rows: 16 completed
2009
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2009', 'searchSrYr2': '2008', 'searchSrYr3': '2007', 'type': 'json'} rows: 16 completed
2010
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2010', 'searchSrYr2': '2009', 'searchSrYr3': '2008', 'type': 'json'} rows: 16 completed
2011
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2011', 'searchSrYr2': '2010', 'searchSrYr3': '2009', 'type': 'json'} rows: 16 completed
2012
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2012', 'searchSrYr2': '2011', 'searchSrYr3': '2010', 'type': 'json'} rows: 16 completed
2013
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2013', 'searchSrYr2': '2012', 'searchSrYr3': '2011', 'type': 'json'} rows: 16 completed
2014
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2014', 'searchSrYr2': '2013', 'searchSrYr3': '2012', 'type': 'json'} rows: 16 completed
2015
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2015', 'searchSrYr2': '2014', 'searchSrYr3': '2013', 'type': 'json'} rows: 16 completed
2016
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2016', 'searchSrYr2': '2015', 'searchSrYr3': '2014', 'type': 'json'} rows: 16 completed
2017
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2017', 'searchSrYr2': '2016', 'searchSrYr3': '2015', 'type': 'json'} rows: 16 completed
2018
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2018', 'searchSrYr2': '2017', 'searchSrYr3': '2016', 'type': 'json'} rows: 16 completed
2019
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2019', 'searchSrYr2': '2018', 'searchSrYr3': '2017', 'type': 'json'} rows: 16 completed
2020
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2020', 'searchSrYr2': '2019', 'searchSrYr3': '2018', 'type': 'json'} rows: 16 completed
2021
1 page scraping start

Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2021', 'searchSrYr2': '2020', 'searchSrYr3': '2019', 'type': 'json'} rows: 16 completed
2022
1 page scraping start
Empty DataFrame
Columns: []
Index: []
0 no pageNo
dataframe공공용지 취득실적(채권보상실적), param:{'serviceKey': '1EFCBE0D-3203-4485-A7BA-5F5DB2B476BF', 'searchSrYr1': '2022', 'searchSrYr2': '2021', 'searchSrYr3': '2020', 'type': 'json'} rows: 16 completed

In [13]:
resultDfMerged = resultDfMerged.drop("index", axis = 1)
resultDfMerged

,bondamt,bond2,rate2,bond3,rate3,bondamt1,bond4,rate4,bond5,rate5,bondamt2,bond6,rate6,bond7,rate7
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,0,0,0.00,0,0.00,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,2214041350200,6029800000,0.27,2208011550200,99.73,0,0,0.00,0,0.00,0,0,0.00,0,0.00
0,1047337333007,8938000000,0.85,1037485333007,99.06,2214041350200,6029800000,0.27,2208011550200,99.73,0,0,0.00,0,0.00
0,5292729567080,6073400000,0.11,5286656167080,99.89,1047337333007,8938000000,0.85,1037485333007,99.06,2214041350200,6029800000,0.27,2208011550200,99.73
0,5470702560363,1475300000,0.03,5433791234361,99.33,5292729567080,6073400000,0.11,5286656167080,99.89,1047337333007,8938000000,0.85,1037485333007,99.06
0,2465193602292,0,0.00,872227602292,35.38,5470702560363,1475300000,0.03,5433791234361,99.33,5292729567080,6073400000,0.11,5286656167080,99.89
0,1477985647466,0,0.00,755112114136,51.09,2465193602292,0,0.00,872227602292,35.38,5470702560363,1475300000,0.03,5433791234361,99.33
0,736807291522,0,0.00,368283491522,49.98,1477985647466,0,0.00,755112114136,51.09,2465193602292,0,0.00,872227602292,35.38
0,693405860800,0,0.00,163289060800,23.55,736807291522,0,0.00,368283491522,49.98,1477985647466,0,0.00,755112114136,51.09
0,534564800000,0,0.00,102278800000,19.13,693405860800,0,0.00,163289060800,23.55,736807291522,0,0.00,368283491522,49.98
0,178496492240,0,0.00,154613100000,86.62,534564800000,0,0.00,102278800000,19.13,693405860800,0,0.00,163289060800,23.55
0,203014900039,0,0.00,150706900039,74.23,178496492240,0,0.00,154613100000,86.62,534564800000,0,0.00,102278800000,19.13
0,141103688893,0,0.00,57902644937,41.04,203014900039,0,0.00,150706900039,74.23,178496492240,0,0.00,154613100000,86.62
0,375030274610,0,0.00,360550200000,96.14,141103688893,0,0.00,57902644937,41.04,203014900039,0,0.00,150706900039,74.23
0,410329529788,0,0.00,384131800014,93.62,375030274610,0,0.00,360550200000,96.14,141103688893,0,0.00,57902644937,41.04
0,324524100000,0,0.00,303150100000,93.41,410329529788,0,0.00,384131800014,93.62,375030274610,0,0.00,360550200000,96.14
0,0,0,0.00,0,0.00,324524100000,0,0.00,303150100000,93.41,410329529788,0,0.00,384131800014,93.62

In [14]:
cf.savedata(resultDfMerged, SITENAME,DATANAME,SERVICENAME)

공공용지 취득실적(채권보상실적) save compled

In [15]:
resultDfMerged.shape

(33, 15)